exportPattern("^[[:alpha:]]+")
importFrom("rcbalance", "callrelax")
importFrom("stats", "as.formula", "cov", "var", "sd", "model.matrix")
importFrom("liqueueR", "PriorityQueue")
importFrom("plyr", "laply", "count", "daply")
importFrom("mvnfast", "maha")
importFrom("methods", "is")
